<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.police.go.kr/favicon.ico"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>부산 치안 지킴이</title>
  </head>
  <body>
    <!-- board/templates/board/post_detail.html -->
    <nav class="bg-gray-900 border-b-4 border-indigo-500">
      <div
        class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto"
      >
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img
            src="https://wikiwandv2-19431.kxcdn.com/_next/image?url=https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Korean_National_Police_Agency_Emblem.svg/langko-640px-Korean_National_Police_Agency_Emblem.svg.png&w=640&q=50"
            class="h-8"
            alt="police_png"
          />
          <span
            class="self-center text-2xl font-semibold text-white whitespace-nowrap"
            >부산 치안 지킴이</span
          >
        </a>

        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="flex flex-col p-4 mt-4 font-medium bg-gray-900 border border-gray-700 rounded-lg md:p-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
          >
            <li class="mt-2">
              <a
                class="block px-3 py-2 text-white rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
                href="#"
                >메인</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="block px-3 py-2 text-white rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
                >마커</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="block px-3 py-2 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                aria-current="page"
                >게시판</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="block px-3 py-2 text-white rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
                >대시보드</a
              >
            </li>
            <li class="mb-1">
              <a
                href="#"
                class="block px-3 py-2 rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
              >
                <div
                  class="relative w-10 h-10 overflow-hidden bg-gray-600 rounded-full"
                >
                  <svg
                    class="absolute w-12 h-12 text-gray-400 -left-1"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="max-w-screen-lg mx-auto">
      <main class="mt-10">
        <div class="relative w-full mx-auto mb-4 md:mb-0">
          <div class="px-4 lg:px-0">
            <h2 class="text-4xl font-semibold leading-tight text-gray-800">
              {{ post.title }}
            </h2>
            By on | {{ post.created_at }}
          </div>
          <hr />
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-12 pl">
          <div
            class="w-full px-4 mt-5 text-lg leading-relaxed text-gray-700 lg:px-0 lg:w-3/4"
          >
            <p class="pb-6">{{ post.content|safe }}</p>
          </div>

          <div class="w-full max-w-screen-sm m-auto mt-12 lg:w-1/4">
            <div class="p-4 border-t border-b md:border md:rounded">
              <div class="flex py-2">
                <img
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
                  class="object-cover w-10 h-10 mr-2 rounded-full"
                />
                <div>
                  <p class="text-sm font-semibold text-gray-700">
                    {{ post.author }}
                  </p>
                  <p class="text-sm font-semibold">
                    <a
                      class="text-blue-500 border-b-2 border-blue-500"
                      href="{% url 'post_edit' post.pk %}"
                      >수정</a
                    >
                  </p>
                </div>
              </div>
              <p class="py-3 text-gray-700"></p>

              <button
                class="relative w-full h-8 overflow-hidden text-green-600 transition-all duration-200 border border-green-600 rounded-md shadow-2xl before:absolute before:bottom-0 before:left-0 before:right-0 before:top-0 before:m-auto before:h-0 before:w-0 before:rounded-sm before:bg-green-600 before:duration-300 before:ease-out hover:text-white hover:shadow-green-600 hover:before:h-full hover:before:w-full hover:before:opacity-80"
              >
                <a
                  class="relative z-10 inline-flex items-center"
                  href="{% url 'post_list' %}"
                  >뒤로가기
                  <svg
                    class="w-4 h-4 ml-2"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </button>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
