<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://www.police.go.kr/favicon.ico"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>부산 치안 지킴이</title>
    <style>
      .link:hover {
        color: #0090f9;
      }
    </style>
  </head>
  <body>
    <!-- board/templates/board/post_detail.html -->
    <nav class="bg-gray-900 border-b-4 border-indigo-500">
      <div
        class="flex flex-wrap items-center justify-between max-w-screen-xl p-4 mx-auto"
      >
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img
            src="https://wikiwandv2-19431.kxcdn.com/_next/image?url=https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Korean_National_Police_Agency_Emblem.svg/langko-640px-Korean_National_Police_Agency_Emblem.svg.png&w=640&q=50"
            class="h-8"
            alt="police_png"
          />
          <span
            class="self-center text-2xl font-semibold text-white whitespace-nowrap"
            >부산 치안 지킴이</span
          >
        </a>

        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul
            class="flex flex-col p-4 mt-4 font-medium bg-gray-900 border border-gray-700 rounded-lg md:p-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
          >
            <li class="mt-2">
              <a
                class="block px-3 py-2 text-white rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
                href="/"
                >메인</a
              >
            </li>
            <li class="mt-2">
              <a
                href="/crime_map"
                class="block px-3 py-2 text-white rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
                >마커</a
              >
            </li>
            <li class="mt-2">
              <a
                href="/board"
                class="block px-3 py-2 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0"
                aria-current="page"
                >게시판</a
              >
            </li>
            <li class="mt-2">
              <a
                href="#"
                class="block px-3 py-2 text-white rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
                >대시보드</a
              >
            </li>
            <li class="mb-1">
              <a
                href="#"
                class="block px-3 py-2 rounded md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 hover:text-white"
              >
                <div
                  class="relative w-10 h-10 overflow-hidden bg-gray-600 rounded-full"
                >
                  <svg
                    class="absolute w-12 h-12 text-gray-400 -left-1"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="max-w-6xl mx-auto">
      <div class="flex justify-around mt-10 ps-3">
        <button
          class="px-8 font-bold text-white bg-blue-500 rounded hover:bg-blue-700"
        >
          <a href="{% url 'post_new' %}">작성하기</a>
        </button>
        <form>
          <label
            for="default-search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
            >검색</label
          >
          <div class="relative">
            <div
              class="absolute inset-y-0 flex items-center pointer-events-none start-0 ps-3"
            >
              <svg
                class="w-4 h-4 text-gray-500 dark:text-gray-400"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 20 20"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                />
              </svg>
            </div>
            <input
              type="search"
              id="default-search"
              class="block w-full p-4 text-sm text-gray-900 border border-gray-300 rounded-lg md:w-96 md:ps-10 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="게시판 내에서 검색"
              required
            />
            <button
              type="submit"
              class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              검색
            </button>
          </div>
        </form>
      </div>
      <hr class="mt-5" />

      <!-- Section Blog -->
      <section class="max-w-full">
        <!-- Container -->
        <div class="w-full mx-auto max-w-9xl">
          <!-- Blog Content -->
          <div class="w-full">
            {% for post in posts %}
            <!-- Blog Item -->
            <div
              class="flex flex-col items-center pt-8 pb-8 text-center border-b border-gray-300 sm:flex-row sm:text-left"
            >
              <div class="pt-4 sm:px-8 sm:pt-0">
                <p class="flex items-center mb-1 link text-slate-600">
                  {{ post.author }}name ·&nbsp;&nbsp;<span
                    >{{ post.created_at }}</span
                  >
                </p>
                <a href="{% url 'post_detail' post.pk %}">
                  <p class="mb-1 font-bold link">{{ post.title }}</p>
                </a>
                <a href="{% url 'post_detail' post.pk %}">
                  <p
                    class="mb-1 text-sm link text-slate-500 post-content"
                    id="postContent"
                  >
                    {{ post.content|linebreaksbr }}
                  </p>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var postContents = document.querySelectorAll(".post-content");

        postContents.forEach(function (content) {
          var text = content.textContent.trim();
          var strippedText = removeHTMLTags(text);
          if (strippedText.length > 10) {
            content.textContent = strippedText.slice(0, 100) + "...";
          } else {
            content.textContent = strippedText;
          }
        });
      });

      function removeHTMLTags(text) {
        return text.replace(/<[^>]*>|&nbsp;/g, "");
      }
    </script>
  </body>
</html>
